<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header >
            <div class="container">
              <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/free-logo-design-for-paint-ink-creative-template-b20133b47fab9a2290a9874d53a838f7_screen.jpg?ts=1574079014"/>
            </div>
            
          </ion-list-header>
          <ion-note color="primary"></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
         
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
