<ion-header [translucent]="true"  >
   <ion-toolbar color="dark" > 
    <ion-buttons slot="end" side="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <div class="container">
    <img src="assets/icon/mcap.jpeg"/>
  </div>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  
  
  <ion-col class="ion-margin-start">
    <div >
      <ion-title color="dark"  >{{ folder }}</ion-title>
    </div>
  </ion-col>
    
  
  <div id="container">
    

    <p> <a target="_blank" rel="noopener noreferrer" href="assets/video/MCap_Intro_Video.mp4">
      
      <div class="container">
        
        <img src="assets/icon/mcap.jpeg"/>

        
      </div>
    
    </a></p>
    
  </div>
</ion-content>
